.hero-unit
  %h1 OpenCurriculum
  %p
    OpenCurriculum is a tool to build different curriculums.
  %p
    %a.btn.primary.large Learn More

%h4 Check it out
= link_to 'Start a new curriculum', new_curriculum_path, :class => 'btn primary'

%h4 Features
%ul.features
  %li Thing
  %li Better Thing
  %li CRAAAAAAZY Thing
  %li Sexy.
  %li Won't murder anyone.
